@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
    color: #282525;
    background-color: #e3e3e3;
}

.fullscreen {
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

}

div.colheader {
  text-align: center;
}

div.rowheader {
  display: flex;
  text-align: center;
  /* text-orientation: upright;
  writing-mode: vertical-lr; */
  width: 1em;
  align-items: center;
}


div.todo {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20px repeat(3, 1fr);
    grid-template-rows: 20px repeat(3, 1fr);
    gap: 16px;
    padding: 20px;
}

div.todo:hover textarea {
  background-color: #ccc;
  transition-duration: 500ms;
  transition-property: background-color width height;
}

div.todo:hover textarea:hover {
  background-color: #rgb(255, 255, 0);
  /* opacity: 0.5; */
}

textarea:focus {
  position: relative;
   /* padding: 10px; */
  margin: 10px;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  width: 200%;
  height: 200%;
  background-color: #fff;
  opacity:  1;

}
